body {
  font-family: Verdana, sans-serif;
  background-color: #FFFF99;
  }
div {
  color: #FFFF99;
  background-color: #0066FF;
  padding: 2px 2px 0.5px 2px;
  border-width: 3px;
  border-color: #000000;
  border-style: solid;
  }
h3 {
  text-align: center;
  font-family: georgia;
  color: #E6E6E6;
  }
p {
  color: #333333;
  }
