h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 48px;
  color: magenta;
  text-align: center;
}
.flashy {
  color: silver;
  font-style: italic;
  background-color: purple;
  border: 4px dashed magenta;
  padding: 10px;
  margin: 10px;
}

img {
  float: left;
  height: 200px;
}
.best {
  color: purple;
  font-family: cursive;
  font-style: bold;
  border: 4px solid purple;
  margin: 10px;
  padding: 10px;
  background-color: silver;
}

.best-types {
  font-family: courier;
  color: magenta;
}

p {
  height: 200px;
}
